/*! CSS Used from: Embedded */
input {
  font: inherit;
}
input {
  overflow: visible;
}
input {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul {
  list-style: none;
}
.common-customCheckbox {
  position: relative;
  cursor: pointer;
}
.common-customCheckbox input {
  margin: 0 16px 0 0;
  visibility: hidden;
}
.common-checkboxIndicator {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 2px;
}
.common-checkboxIndicator:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 8px;
  height: 5px;
  border-color: #fff;
  border-style: none none solid solid;
  border-width: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.common-customCheckbox input:checked ~ .common-checkboxIndicator {
  border: none;
  background: #ff3f6c;
}
.common-customCheckbox input:checked ~ .common-checkboxIndicator:after {
  display: block;
}
/*! CSS Used from: https://constant.myntassets.com/web/assets/css/d-search.b83f2d2aabaff23c39ce.css */
.vertical-filters-filters {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-bottom: 1px solid #e9e9ed;
  position: relative;
  border-right: 1px solid #edebef;
}
.vertical-filters-filters .vertical-filters-label {
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 17px;
  color: #282c3f;
}
.vertical-filters-header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 18px;
  clear: both;
  color: #282c3f;
  display: block;
}
.categories-container {
  position: relative;
}
.categories-list {
  margin-bottom: 0;
}
.categories-list label {
  cursor: pointer;
}
.categories-num {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}
.search-base ul {
  padding-left: 0;
}
.search-leftContainer li {
  font-size: 14px;
  margin-bottom: 7px;
}
.search-leftContainer li:last-child {
  margin-bottom: 0;
}
.search-leftContainer ul {
  margin: 0;
  padding: 0;
}

.condition-render-boundary-top {
  position: static;
}

.condition-render-verticalFilters {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin .2s cubic-bezier(.25,.46,.45,.94);
  transition: margin .2s cubic-bezier(.25,.46,.45,.94);
  margin-top: 0;
  padding-top: 23px;
}

.CATEGORIES-container {
  position: relative;
}

.search-base h4, .search-base ul, .search-rightContainer {
  padding-left: 0;
}