<div class=" row-base" style="display: -webkit-flex;">
    <div class="breadcrumbs-base">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a class="breadcrumbs-crumb" href="/?src=bc" itemprop="url"><span
                        itemprop="title">Home</span></a></li>
            <li class="breadcrumbs-item"><a class="breadcrumbs-crumb" href="/clothing?src=bc" itemprop="url"><span
                        itemprop="title">Clothing</span></a></li>
            <li class="breadcrumbs-item"><span class="breadcrumbs-crumb" style="font-size: 14px; margin: 0px;">Men
                    T-shirts</span></li>
        </ul>
    </div>
</div>