<section>
    <div class="condition-render-verticalFilters condition-render-boundary-top">
        <div class="vertical-filters-filters header-container"><span class="header-title">FILTERS</span></div>
        <div class="vertical-filters-filters categories-container">
            <span class="vertical-filters-header">Categories</span>
            <ul class="categories-list">
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox" value="Tshirts">
                        Tshirts
                        <span class="categories-num">
                            (69086)
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                            value="Lounge Tshirts"><!-- react-text: 47 -->Lounge Tshirts
                        <!-- /react-text --><span class="categories-num">
                            <!-- react-text: 49 -->(
                            <!-- /react-text -->
                            <!-- react-text: 50 -->633
                            <!-- /react-text -->
                            <!-- react-text: 51 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
            </ul>
        </div>
        <div class="vertical-filters-filters brand-container"><span class="vertical-filters-header">Brand</span>
            <div class="filter-search-filterSearchBox"><input type="text"
                    class="filter-search-inputBox filter-search-hidden" placeholder="Search for Brand"><span
                    class="myntraweb-sprite filter-search-iconSearch sprites-search"></span></div>
            <ul class="brand-list">
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox" value="Roadster">
                        <!-- react-text: 62 -->Roadster
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 64 -->(
                            <!-- /react-text -->
                            <!-- react-text: 65 -->2314
                            <!-- /react-text -->
                            <!-- react-text: 66 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox" value="Puma">
                        <!-- react-text: 71 -->Puma
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 73 -->(
                            <!-- /react-text -->
                            <!-- react-text: 74 -->1569
                            <!-- /react-text -->
                            <!-- react-text: 75 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox"
                            value="HRX by Hrithik Roshan"><!-- react-text: 80 -->HRX by Hrithik Roshan
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 82 -->(
                            <!-- /react-text -->
                            <!-- react-text: 83 -->1412
                            <!-- /react-text -->
                            <!-- react-text: 84 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox" value="WROGN">
                        <!-- react-text: 89 -->WROGN
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 91 -->(
                            <!-- /react-text -->
                            <!-- react-text: 92 -->1342
                            <!-- /react-text -->
                            <!-- react-text: 93 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox"
                            value="QUANCIOUS"><!-- react-text: 98 -->QUANCIOUS
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 100 -->(
                            <!-- /react-text -->
                            <!-- react-text: 101 -->1256
                            <!-- /react-text -->
                            <!-- react-text: 102 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox" value="SPYKAR">
                        <!-- react-text: 107 -->SPYKAR
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 109 -->(
                            <!-- /react-text -->
                            <!-- react-text: 110 -->1174
                            <!-- /react-text -->
                            <!-- react-text: 111 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox" value="Friskers">
                        <!-- react-text: 116 -->Friskers
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 118 -->(
                            <!-- /react-text -->
                            <!-- react-text: 119 -->1160
                            <!-- /react-text -->
                            <!-- react-text: 120 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="vertical-filters-label common-customCheckbox"><input type="checkbox"
                            value="U.S. Polo Assn."><!-- react-text: 125 -->U.S. Polo Assn.
                        <!-- /react-text --><span class="brand-num">
                            <!-- react-text: 127 -->(
                            <!-- /react-text -->
                            <!-- react-text: 128 -->1059
                            <!-- /react-text -->
                            <!-- react-text: 129 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
            </ul>
            <div class="brand-more">
                <!-- react-text: 132 -->+
                <!-- /react-text -->
                <!-- react-text: 133 -->518
                <!-- /react-text -->
                <!-- react-text: 134 --> more
                <!-- /react-text -->
            </div>
        </div>
        <div class="vertical-filters-filters"><span class="vertical-filters-header">Price</span>
            <ul class="price-list">
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                            class="price-input" value="199.0 TO 2024.0"><!-- react-text: 141 -->Rs. 199 to Rs. 2024
                        <!-- /react-text --><span class="price-num">
                            <!-- react-text: 143 -->(
                            <!-- /react-text -->
                            <!-- react-text: 144 -->66881
                            <!-- /react-text -->
                            <!-- react-text: 145 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                            class="price-input" value="2024.0 TO 3849.0"><!-- react-text: 150 -->Rs. 2024 to Rs. 3849
                        <!-- /react-text --><span class="price-num">
                            <!-- react-text: 152 -->(
                            <!-- /react-text -->
                            <!-- react-text: 153 -->2510
                            <!-- /react-text -->
                            <!-- react-text: 154 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                            class="price-input" value="3849.0 TO 5674.0"><!-- react-text: 159 -->Rs. 3849 to Rs. 5674
                        <!-- /react-text --><span class="price-num">
                            <!-- react-text: 161 -->(
                            <!-- /react-text -->
                            <!-- react-text: 162 -->289
                            <!-- /react-text -->
                            <!-- react-text: 163 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li><label class="common-customCheckbox vertical-filters-label"><input type="checkbox"
                            class="price-input" value="5674.0 TO 7499.0"><!-- react-text: 168 -->Rs. 5674 to Rs. 7499
                        <!-- /react-text --><span class="price-num">
                            <!-- react-text: 170 -->(
                            <!-- /react-text -->
                            <!-- react-text: 171 -->33
                            <!-- /react-text -->
                            <!-- react-text: 172 -->)
                            <!-- /react-text -->
                        </span>
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
            </ul>
        </div>
        <div class="vertical-filters-filters"><span class="vertical-filters-header">Color</span>
            <div class="filter-search-filterSearchBox"><input type="text"
                    class="filter-search-inputBox filter-search-hidden" placeholder="Search for Color"><span
                    class="myntraweb-sprite filter-search-iconSearch sprites-search"></span></div>
            <ul>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="9884"><span
                            data-colorhex="black" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(54, 69, 79);"></span><!-- react-text: 183 -->Black
                        <!-- /react-text -->
                        <!-- react-text: 184 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 186 -->(
                            <!-- /react-text -->
                            <!-- react-text: 187 -->9884
                            <!-- /react-text -->
                            <!-- react-text: 188 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Black">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="8805"><span
                            data-colorhex="white" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(255, 255, 255);"></span><!-- react-text: 194 -->White
                        <!-- /react-text -->
                        <!-- react-text: 195 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 197 -->(
                            <!-- /react-text -->
                            <!-- react-text: 198 -->8805
                            <!-- /react-text -->
                            <!-- react-text: 199 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="White">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="8597"><span
                            data-colorhex="blue" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(0, 116, 217);"></span><!-- react-text: 205 -->Blue
                        <!-- /react-text -->
                        <!-- react-text: 206 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 208 -->(
                            <!-- /react-text -->
                            <!-- react-text: 209 -->8597
                            <!-- /react-text -->
                            <!-- react-text: 210 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Blue">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="7421"><span
                            data-colorhex="navy blue" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(60, 68, 119);"></span><!-- react-text: 216 -->Navy Blue
                        <!-- /react-text -->
                        <!-- react-text: 217 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 219 -->(
                            <!-- /react-text -->
                            <!-- react-text: 220 -->7421
                            <!-- /react-text -->
                            <!-- react-text: 221 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Navy Blue">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="4101"><span
                            data-colorhex="red" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(211, 75, 86);"></span><!-- react-text: 227 -->Red
                        <!-- /react-text -->
                        <!-- react-text: 228 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 230 -->(
                            <!-- /react-text -->
                            <!-- react-text: 231 -->4101
                            <!-- /react-text -->
                            <!-- react-text: 232 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Red">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="4065"><span
                            data-colorhex="green" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(94, 177, 96);"></span><!-- react-text: 238 -->Green
                        <!-- /react-text -->
                        <!-- react-text: 239 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 241 -->(
                            <!-- /react-text -->
                            <!-- react-text: 242 -->4065
                            <!-- /react-text -->
                            <!-- react-text: 243 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Green">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
                <li class="colour-listItem"><label class="common-customCheckbox" data-count="3965"><span
                            data-colorhex="grey" class="colour-label colour-colorDisplay"
                            style="background-color: rgb(159, 168, 171);"></span><!-- react-text: 249 -->Grey
                        <!-- /react-text -->
                        <!-- react-text: 250 -->
                        <!-- /react-text --><span class="colour-num">
                            <!-- react-text: 252 -->(
                            <!-- /react-text -->
                            <!-- react-text: 253 -->3965
                            <!-- /react-text -->
                            <!-- react-text: 254 -->)
                            <!-- /react-text -->
                        </span><input type="checkbox" value="Grey">
                        <div class="common-checkboxIndicator"></div>
                    </label></li>
            </ul>
            <div class="colour-more"><span>
                    <!-- react-text: 259 -->+
                    <!-- /react-text -->
                    <!-- react-text: 260 -->36
                    <!-- /react-text -->
                    <!-- react-text: 261 --> more
                    <!-- /react-text -->
                </span></div>
        </div>
        <div class="vertical-filters-filters"><span class="vertical-filters-header">Discount Range</span>
            <ul class="discount-list">
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="10.0 TO 100.0"><!-- react-text: 268 -->10% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="20.0 TO 100.0"><!-- react-text: 273 -->20% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="30.0 TO 100.0"><!-- react-text: 278 -->30% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="40.0 TO 100.0"><!-- react-text: 283 -->40% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="50.0 TO 100.0"><!-- react-text: 288 -->50% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="60.0 TO 100.0"><!-- react-text: 293 -->60% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="70.0 TO 100.0"><!-- react-text: 298 -->70% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
                <li><label class="common-customRadio vertical-filters-label"><input type="radio" class="discount-input"
                            name="discount-product" value="80.0 TO 100.0"><!-- react-text: 303 -->80% and above
                        <!-- /react-text -->
                        <div class="common-radioIndicator"></div>
                    </label></li>
            </ul>
        </div>
    </div>
</section>