html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.column-base, .row-base {
  -webkit-box-direction: normal;
}
.product-base{
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 30px;
}

.results-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin: 0 -10px 0 3px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search-searchProductsContainer{
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 20px;
}

ul {
  list-style: none
}
.title-container {
  margin: 10px 0 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1000px;
  overflow: hidden;
}

h1.title-title {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #282c3f;
  max-width: 400px;
  text-transform: capitalize;
}

.title-container>span, h1 {
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

span.title-count {
  color: #878b94;
  white-space: pre-wrap;
}

.title-container>span, h1 {
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.row-base:after {
  clear: both;
  content: " ";
  display: table;
}