/*! CSS Used from: Embedded */
header,nav{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline-width:0;}
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
img{border-style:none;}
input{font:inherit;}
input{overflow:visible;}
input{margin:0;}
input::-moz-focus-inner{border:0;padding:0;}
input:-moz-focusring{outline:1px dotted ButtonText;}
*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit;}
ul{list-style:none;}
.myntraweb-sprite{background:url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);background-size:1404px 105px;display:inline-block;}
.sprites-headerBag{width:22px;height:22px;background-position:-341px -56px;}
.sprites-headerWishlist{width:17px;height:22px;background-position:-315px -187px;}
.sprites-search{width:21px;height:21px;background-position:-754px 0;}
.sprites-headerUser{width:24px;height:24px;background-position:-298px -56px;}
.sprites-headerLogo{width:53px;height:36px;background-position:-462px 0;}
.desktop-container{color:#fff;top:0;position:fixed;right:0;left:0;z-index:10;-webkit-box-shadow:0 4px 12px 0 rgba(0,0,0,.05);box-shadow:0 4px 12px 0 rgba(0,0,0,.05);background-color:#fff;}
.desktop-preHeaderContent{display:none;text-align:right;max-width:980px;margin:auto;font-size:12px;}
.desktop-preHeaderLinks{text-decoration:none;color:#526cd0;display:inline-block;padding:8px 0;font-weight:500;font-size:11px;}
.desktop-preHeaderLinks:after{content:"\A0    \A0    | \A0   \A0   \A0";color:#e9e9ed;padding:0 10px;}
.desktop-preHeaderLinks:last-child:after{content:" ";}
.desktop-superscriptTag{width:25px;height:7px;padding:5px 0 0 5px;background:#ff3f6c!important;border:1px solid #ff3f6c!important;color:#fff;font-weight:900;margin:-6px 0 -10px 10px;font-size:10px;-webkit-transform:skewX(-10deg);transform:skewX(-10deg);display:inline-block;border-radius:2px;}
.desktop-bound{margin:auto;min-width:980px;line-height:80px;}
.desktop-logoContainer{float:left;height:inherit;margin-left:4%;}
.desktop-logo{display:inline-block;vertical-align:middle;padding:0;margin:0;cursor:pointer;}
.desktop-navbar{display:block;float:left;line-height:80px;height:80px;margin:0 0 0 3.5%;}
.desktop-navLinks{display:inline-block;float:left;}
.desktop-navContent{float:left;border:hidden;text-align:center;}
.desktop-newNavLink{display:inline;width:23px;height:12px;margin:0 0 34px -15px;font-family:Whitney;font-size:10px;font-weight:600;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:normal;text-align:left;color:#ff3f6c;content:"new";}
sup{top:-.4rem;font-size:100%;line-height:0;position:relative;vertical-align:baseline;text-transform:uppercase;}
.desktop-navLink{display:inline;}
.desktop-navLink:hover .desktop-main{border-bottom-style:solid;border-bottom-width:4px;-webkit-transition:left .2s ease-out,border-color .5s ease-in;transition:left .2s ease-out,border-color .5s ease-in;}
.desktop-navLink:hover .desktop-categoryContainer,.desktop-navLink:hover .desktop-newPaneContent,.desktop-navLink:hover .desktop-paneContent{visibility:visible;opacity:1;-webkit-transition-delay:.15s;transition-delay:.15s;}
.desktop-navLink:hover .desktop-backdropStyle{visibility:visible;}
.desktop-main{padding:0 17px 28px;text-align:center;text-decoration:none;font-size:14px;letter-spacing:.3px;color:#282c3f;border-bottom:none;-webkit-transition:left .2s ease-out,width .2s ease-out;transition:left .2s ease-out,width .2s ease-out;font-weight:500;text-transform:uppercase;}
.desktop-query{width:400px;float:right;line-height:0;margin:20px 20px 20px 40px;position:relative;}
.desktop-query>input.desktop-searchBar{display:inline-block;float:left;font-size:14px;height:20px;line-height:24px;width:95%;color:#696e79;-webkit-box-sizing:content-box;box-sizing:content-box;padding:8px 10px 10px;margin:0;outline:0;border:1px solid #f5f5f6;border-radius:0 4px 4px 0;border-left:0;background:#f5f5f6;}
input.desktop-searchBar:focus,input.desktop-searchBar:focus+a.desktop-submit{background-color:#fff;border-color:#eaeaec;}
a.desktop-submit{-webkit-box-sizing:content-box;box-sizing:content-box;display:inline-block;height:28px;width:40px;text-align:center;padding:8px 0 2px;background:#f5f5f6;border:1px solid #f5f5f6;border-right:none;border-radius:4px 0 0 4px;position:absolute;left:-41px;}
.desktop-iconSearch{display:inline-block;}
.desktop-iconSearch{-webkit-transform:scale(.7);transform:scale(.7);}
.desktop-iconUser{margin:10px 0 0;position:absolute;bottom:13px;left:5px;display:block;}
.desktop-user{position:relative;height:60px;margin:0 20px 0 15px;}
.desktop-userIconsContainer{display:-webkit-box;display:-ms-flexbox;padding:0 12px 0 17px;position:relative;display:flex;height:40px;}
.desktop-userTitle{color:#000;position:absolute;bottom:4px;left:1px;font-size:12px;font-weight:500;display:inline-block;padding-top:10px;line-height:6px;}
.desktop-user:hover .desktop-userActions{visibility:visible;opacity:1;}
.desktop-actions{float:right;display:-webkit-box;display:-ms-flexbox;display:flex;line-height:0;height:40px;margin:20px 30px 0 10px;}
.desktop-cart{margin:0 50px 0 15px;}
.desktop-cart,.desktop-wishlist{display:-webkit-box;display:-ms-flexbox;display:flex;text-decoration:none;position:relative;}
.desktop-wishlist{margin:0 55px 0 10px;}
.desktop-iconBag{left:-1px;}
.desktop-iconBag,.desktop-iconWishlist{margin:8px 0 0;position:absolute;bottom:14px;}
.desktop-iconWishlist{left:13px;}
.desktop-badge{white-space:nowrap;text-align:center;line-height:18px;padding:0 6px;height:18px;background:#ff3f6c;position:absolute;border-radius:50%;font-size:12px;color:#fff;left:13px;top:-2px;font-weight:700;}
.desktop-grey{background-color:#7e818c;visibility:hidden;}
.desktop-grey:before{border-right-color:#7e818c;}
.desktop-backdropStyle{visibility:hidden;}
.desktop-backdropStyle{position:fixed;top:80px;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.3);z-index:0;pointer-events:none;}
.desktop-newPaneContent{height:454px;width:545px;margin:1px 892px 0 354px;z-index:100;}
.desktop-newPaneContent,.desktop-paneContent{visibility:hidden;text-align:left;opacity:0;position:absolute;top:0;background-color:#fff;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.1);box-shadow:inset 0 0 8px rgba(0,0,0,.1);pointer-events:auto;}
.desktop-paneContent{left:50%;margin-left:-570px;height:440px;width:1135px;z-index:1;}
.desktop-studioLogNew{display:block;width:103.1px;height:29.5px;margin:20px 220.9px 0 221px;}
.desktop-YourDailyInspiration{display:block;width:288px;height:22px;margin:9.5px 129px 0 128px;font-family:Whitney;font-size:16px;line-height:1.38;text-align:center;color:#535766;}
.desktop-studioNavBanner{display:block;width:514px;height:274px;margin:27px 16px 0 15px;}
.desktop-exploreStudioBtn{min-width:164px;height:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:8px;margin:16px 176px 0 174px;border-radius:2px;border:1px solid #d4d5d8;background-color:#fff;}
.desktop-exploreStudioLabel{min-width:109px;font-family:Whitney;font-size:14px;font-weight:600;line-height:1.43;text-align:center;color:#282c3f;}
.desktop-chevronRight,.desktop-exploreStudioLabel{height:20px;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;}
.desktop-chevronRight{width:20px;-o-object-fit:contain;object-fit:contain;}
.desktop-oddColumnContent{float:left;display:block;position:relative;height:436px;padding-top:4px;}
.desktop-evenColumnContent{background-color:rgba(245,245,246,.4);}
.desktop-categoryContainer{visibility:hidden;opacity:0;overflow:auto;width:1110px;left:0;right:0;position:absolute;margin:0 auto;padding:0 10px 10px 15px;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}
.desktop-navBlock{display:block;position:relative;float:left;width:216px;margin:0;padding:0;}
.desktop-navBlock>li{padding-left:25px;}
.desktop-categoryName{text-transform:capitalize;color:#3e4152;padding:12px 0 2px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:25px;font-weight:500;}
.desktop-categoryLink,.desktop-categoryName{display:block;font-size:14px;text-decoration:none;}
.desktop-categoryLink{color:#282c3f;line-height:23px!important;font-weight:400;}
.desktop-categoryLink:hover{font-weight:500;color:#282c3f;}
.desktop-userActions{width:250px;left:-137.5px;top:62px;position:absolute;padding:25px 20px 15px;z-index:9;-webkit-box-shadow:0 1px 10px rgba(0,0,0,.08);box-shadow:0 1px 10px rgba(0,0,0,.08);-webkit-transition:opacity .2s ease-out,visibility .2s ease-out;transition:opacity .2s ease-out,visibility .2s ease-out;background-color:#fff;color:#3e4152;border:1px solid #f5f5f6;visibility:hidden;opacity:0;margin:-2px 0;}
.desktop-userActionsArrow{display:block;top:-5px;position:absolute;width:58px;border-bottom:4px solid #f16565;left:124px;}
.desktop-userActionsContent{display:block;}
.desktop-contentInfo{display:block;padding-bottom:2px;}
.desktop-infoTitle{font-weight:500;height:20px;}
.desktop-infoEmail,.desktop-infoTitle{font-size:14px;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:10px;}
.desktop-infoEmail{height:14px;color:#282c3f;}
.desktop-info{font-weight:400;font-size:14px;color:#3e4152;}
.desktop-infoSection{margin:0;cursor:pointer;padding:15px 0 10px!important;}
.desktop-infoSection:hover{font-weight:500;}
.desktop-getInLinks{display:inline-block;width:100%;padding:10px 0;border-top:1px solid #eaeaec;}
.desktop-getUserInLinks{border:none;}
.desktop-linkButton{display:inline-block;padding:18px 20px;margin:10px 10px 0 0;border:1px solid #eaeaec;border-radius:2px;text-align:center;text-transform:uppercase;font-size:14px;color:#ff3f6c;font-weight:500;}
.desktop-linkButton:hover{border:1px solid #ff3f6c;}
.desktop-linkButton:first-child{margin:0 5px 6px 0;}
.desktop-showBanner{height:auto;}
.desktop-hrLine{width:140px;height:1px;margin:12px 0 0 25px;background-color:#eaeaec;}
@media (min-width:1500px){
.desktop-query{width:32%;}
.desktop-paneContent{left:9%;margin:auto;}
}
@media (max-width:1366px){
.desktop-query{width:320px;}
}
@media (max-width:1400px){
.desktop-actions{margin-right:0;}
.desktop-navbar{margin:0 0 0 1%;}
}
@media (max-width:1250px){
.desktop-logoContainer{margin-left:2%;}
.desktop-navbar{margin:0 0 0 1%;}
.desktop-query{width:280px;}
.desktop-actions{margin-right:0;}
}
@media (max-width:1199px){
.desktop-paneContent{width:1080px;margin-left:-540px;}
.desktop-newPaneContent{width:545px;}
.desktop-categoryContainer{width:auto;padding:0;}
.desktop-query{width:200px;}
.desktop-actions{margin-right:0;width:170px;}
}
@media (max-width:1079px){
.desktop-paneContent{width:90%;left:5%;margin:auto;overflow-x:scroll;}
.desktop-categoryContainer{width:1080px;padding:0;}
.desktop-query{width:100px;}
.desktop-newPaneContent{left:-20%;}
}
@media (max-width:810px){
.desktop-newPaneContent{left:-20%;}
}
a{text-decoration:none;color:#282c3f;}
/*! CSS Used fontfaces */
@font-face{font-family:'Whitney';src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot);src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix) format('embedded-opentype'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff) format('woff'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf) format('truetype');font-weight:400;font-display:swap;font-style:normal;}
@font-face{font-family:'Whitney';src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot);src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot?#iefix) format('embedded-opentype'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff) format('woff'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.ttf) format('truetype');font-weight:500;font-display:swap;font-style:normal;}