/*! CSS Used from: Embedded */
nav{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline-width:0;}
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
img{border-style:none;}
*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit;}
ul{list-style:none;}
.desktop-navbar{display:block;float:left;line-height:80px;height:80px;margin:0 0 0 3.5%;}
.desktop-navLinks{display:inline-block;float:left;}
.desktop-navContent{float:left;border:hidden;text-align:center;}
.desktop-newNavLink{display:inline;width:23px;height:12px;margin:0 0 34px -15px;font-family:Whitney;font-size:10px;font-weight:600;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:normal;text-align:left;color:#ff3f6c;content:"new";}
sup{top:-.4rem;font-size:100%;line-height:0;position:relative;vertical-align:baseline;text-transform:uppercase;}
.desktop-navLink{display:inline;}
.desktop-navLink:hover .desktop-main{border-bottom-style:solid;border-bottom-width:4px;-webkit-transition:left .2s ease-out,border-color .5s ease-in;transition:left .2s ease-out,border-color .5s ease-in;}
.desktop-navLink:hover .desktop-categoryContainer,.desktop-navLink:hover .desktop-newPaneContent,.desktop-navLink:hover .desktop-paneContent{visibility:visible;opacity:1;-webkit-transition-delay:.15s;transition-delay:.15s;}
.desktop-navLink:hover .desktop-backdropStyle{visibility:visible;}
.desktop-main{padding:0 17px 28px;text-align:center;text-decoration:none;font-size:14px;letter-spacing:.3px;color:#282c3f;border-bottom:none;-webkit-transition:left .2s ease-out,width .2s ease-out;transition:left .2s ease-out,width .2s ease-out;font-weight:500;text-transform:uppercase;}
.desktop-backdropStyle{visibility:hidden;}
.desktop-backdropStyle{position:fixed;top:80px;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.3);z-index:0;pointer-events:none;}
.desktop-newPaneContent{height:454px;width:545px;margin:1px 892px 0 354px;z-index:100;}
.desktop-newPaneContent,.desktop-paneContent{visibility:hidden;text-align:left;opacity:0;position:absolute;top:0;background-color:#fff;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.1);box-shadow:inset 0 0 8px rgba(0,0,0,.1);pointer-events:auto;}
.desktop-paneContent{left:50%;margin-left:-570px;height:440px;width:1135px;z-index:1;}
.desktop-studioLogNew{display:block;width:103.1px;height:29.5px;margin:20px 220.9px 0 221px;}
.desktop-YourDailyInspiration{display:block;width:288px;height:22px;margin:9.5px 129px 0 128px;font-family:Whitney;font-size:16px;line-height:1.38;text-align:center;color:#535766;}
.desktop-studioNavBanner{display:block;width:514px;height:274px;margin:27px 16px 0 15px;}
.desktop-exploreStudioBtn{min-width:164px;height:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:8px;margin:16px 176px 0 174px;border-radius:2px;border:1px solid #d4d5d8;background-color:#fff;}
.desktop-exploreStudioLabel{min-width:109px;font-family:Whitney;font-size:14px;font-weight:600;line-height:1.43;text-align:center;color:#282c3f;}
.desktop-chevronRight,.desktop-exploreStudioLabel{height:20px;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;}
.desktop-chevronRight{width:20px;-o-object-fit:contain;object-fit:contain;}
.desktop-oddColumnContent{float:left;display:block;position:relative;height:436px;padding-top:4px;}
.desktop-evenColumnContent{background-color:rgba(245,245,246,.4);}
.desktop-categoryContainer{visibility:hidden;opacity:0;overflow:auto;width:1110px;left:0;right:0;position:absolute;margin:0 auto;padding:0 10px 10px 15px;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}
.desktop-navBlock{display:block;position:relative;float:left;width:216px;margin:0;padding:0;}
.desktop-navBlock>li{padding-left:25px;}
.desktop-categoryName{text-transform:capitalize;color:#3e4152;padding:12px 0 2px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:25px;font-weight:500;}
.desktop-categoryLink,.desktop-categoryName{display:block;font-size:14px;text-decoration:none;}
.desktop-categoryLink{color:#282c3f;line-height:23px!important;font-weight:400;}
.desktop-categoryLink:hover{font-weight:500;color:#282c3f;}
.desktop-hrLine{width:140px;height:1px;margin:12px 0 0 25px;background-color:#eaeaec;}
@media (min-width:1500px){
.desktop-paneContent{left:9%;margin:auto;}
}
@media (max-width:1400px){
.desktop-navbar{margin:0 0 0 1%;}
}
@media (max-width:1250px){
.desktop-navbar{margin:0 0 0 1%;}
}
@media (max-width:1199px){
.desktop-paneContent{width:1080px;margin-left:-540px;}
.desktop-newPaneContent{width:545px;}
.desktop-categoryContainer{width:auto;padding:0;}
}
@media (max-width:1079px){
.desktop-paneContent{width:90%;left:5%;margin:auto;overflow-x:scroll;}
.desktop-categoryContainer{width:1080px;padding:0;}
.desktop-newPaneContent{left:-20%;}
}
@media (max-width:810px){
.desktop-newPaneContent{left:-20%;}
}
a{text-decoration:none;color:#282c3f;}
/*! CSS Used fontfaces */
@font-face{font-family:'Whitney';src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot);src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix) format('embedded-opentype'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff) format('woff'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf) format('truetype');font-weight:400;font-display:swap;font-style:normal;}
@font-face{font-family:'Whitney';src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot);src:url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot?#iefix) format('embedded-opentype'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff) format('woff'),       url(https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.ttf) format('truetype');font-weight:500;font-display:swap;font-style:normal;}