/*! CSS Used from: Embedded */
input {
  font: inherit;
}
input {
  overflow: visible;
}
input {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul {
  list-style: none;
}
.myntraweb-sprite {
  background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
  display: inline-block;
}
.sprites-downArrow {
  background-position: -2679px -89px;
  width: 15px;
  height: 10px;
}
.horizontal-filters-sortContainer {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-bottom: 0;
  margin-top: -7px;
  position: relative;
  top: 5px;
}
.sort-sortBy {
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
}
.sort-sortBy span {
  text-transform: capitalize;
  font-weight: 500;
  color: #282c3f;
}
.sort-list {
  width: 255px;
  background-color: #fff;
  position: absolute;
  top: 33px;
  left: -1px;
  margin: 0;
  padding: 16px 0;
  z-index: 2;
  display: none;
  border: 1px solid #d4d5d9;
  border-top: none;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
}
.sort-sortBy:hover .sort-list {
  display: block;
}
.sort-sortBy:hover {
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
}
.sort-list label {
  display: block;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  padding: 10px 20px;
}
.sort-list li:hover {
  background-color: #f4f4f5;
}
.sort-label input {
  visibility: hidden;
  display: none;
}
.sort-downArrow {
  margin-left: 5px;
  margin-top: 5px;
  float: right;
}
